
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = false
insert_final_newline = true
indent_style = space
indent_size = 4

# Microsoft .NET properties
csharp_new_line_before_catch = false
csharp_new_line_before_else = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_open_brace = accessors,control_blocks,events,indexers,properties
csharp_preferred_modifier_order = public, internal, private, required, file, new, protected, volatile, static, async, override, virtual, extern, sealed, abstract, unsafe, readonly:suggestion
csharp_space_after_cast = true
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_diagnostic.bc40000.severity = warning
dotnet_diagnostic.bc400005.severity = warning
dotnet_diagnostic.bc40008.severity = warning
dotnet_diagnostic.bc40056.severity = warning
dotnet_diagnostic.bc42016.severity = warning
dotnet_diagnostic.bc42024.severity = warning
dotnet_diagnostic.bc42025.severity = warning
dotnet_diagnostic.bc42104.severity = warning
dotnet_diagnostic.bc42105.severity = warning
dotnet_diagnostic.bc42106.severity = warning
dotnet_diagnostic.bc42107.severity = warning
dotnet_diagnostic.bc42304.severity = warning
dotnet_diagnostic.bc42309.severity = warning
dotnet_diagnostic.bc42322.severity = warning
dotnet_diagnostic.bc42349.severity = warning
dotnet_diagnostic.bc42353.severity = warning
dotnet_diagnostic.bc42354.severity = warning
dotnet_diagnostic.bc42355.severity = warning
dotnet_diagnostic.bc42356.severity = warning
dotnet_diagnostic.bc42358.severity = warning
dotnet_diagnostic.bc42380.severity = warning
dotnet_diagnostic.bc42504.severity = warning
dotnet_diagnostic.bc42505.severity = warning
dotnet_diagnostic.ca2252.severity = error
dotnet_diagnostic.cs0067.severity = warning
dotnet_diagnostic.cs0078.severity = warning
dotnet_diagnostic.cs0108.severity = warning
dotnet_diagnostic.cs0109.severity = warning
dotnet_diagnostic.cs0114.severity = warning
dotnet_diagnostic.cs0162.severity = warning
dotnet_diagnostic.cs0164.severity = warning
dotnet_diagnostic.cs0168.severity = warning
dotnet_diagnostic.cs0169.severity = warning
dotnet_diagnostic.cs0183.severity = warning
dotnet_diagnostic.cs0184.severity = warning
dotnet_diagnostic.cs0197.severity = warning
dotnet_diagnostic.cs0219.severity = warning
dotnet_diagnostic.cs0252.severity = warning
dotnet_diagnostic.cs0253.severity = warning
dotnet_diagnostic.cs0282.severity = warning
dotnet_diagnostic.cs0414.severity = warning
dotnet_diagnostic.cs0420.severity = warning
dotnet_diagnostic.cs0458.severity = warning
dotnet_diagnostic.cs0464.severity = warning
dotnet_diagnostic.cs0465.severity = warning
dotnet_diagnostic.cs0469.severity = warning
dotnet_diagnostic.cs0472.severity = warning
dotnet_diagnostic.cs0612.severity = warning
dotnet_diagnostic.cs0618.severity = warning
dotnet_diagnostic.cs0628.severity = warning
dotnet_diagnostic.cs0642.severity = warning
dotnet_diagnostic.cs0649.severity = warning
dotnet_diagnostic.cs0652.severity = warning
dotnet_diagnostic.cs0657.severity = warning
dotnet_diagnostic.cs0658.severity = warning
dotnet_diagnostic.cs0659.severity = warning
dotnet_diagnostic.cs0660.severity = warning
dotnet_diagnostic.cs0661.severity = warning
dotnet_diagnostic.cs0665.severity = warning
dotnet_diagnostic.cs0672.severity = warning
dotnet_diagnostic.cs0675.severity = warning
dotnet_diagnostic.cs0693.severity = warning
dotnet_diagnostic.cs0728.severity = warning
dotnet_diagnostic.cs0809.severity = warning
dotnet_diagnostic.cs1030.severity = warning
dotnet_diagnostic.cs1058.severity = warning
dotnet_diagnostic.cs1066.severity = warning
dotnet_diagnostic.cs1522.severity = warning
dotnet_diagnostic.cs1570.severity = warning
dotnet_diagnostic.cs1571.severity = warning
dotnet_diagnostic.cs1572.severity = warning
dotnet_diagnostic.cs1573.severity = warning
dotnet_diagnostic.cs1574.severity = warning
dotnet_diagnostic.cs1580.severity = warning
dotnet_diagnostic.cs1581.severity = warning
dotnet_diagnostic.cs1584.severity = warning
dotnet_diagnostic.cs1587.severity = warning
dotnet_diagnostic.cs1589.severity = warning
dotnet_diagnostic.cs1590.severity = warning
dotnet_diagnostic.cs1591.severity = warning
dotnet_diagnostic.cs1592.severity = warning
dotnet_diagnostic.cs1687.severity = warning
dotnet_diagnostic.cs1710.severity = warning
dotnet_diagnostic.cs1711.severity = warning
dotnet_diagnostic.cs1712.severity = warning
dotnet_diagnostic.cs1717.severity = warning
dotnet_diagnostic.cs1723.severity = warning
dotnet_diagnostic.cs1911.severity = warning
dotnet_diagnostic.cs1957.severity = warning
dotnet_diagnostic.cs1981.severity = warning
dotnet_diagnostic.cs1998.severity = warning
dotnet_diagnostic.cs4014.severity = warning
dotnet_diagnostic.cs4024.severity = warning
dotnet_diagnostic.cs4025.severity = warning
dotnet_diagnostic.cs4026.severity = warning
dotnet_diagnostic.cs7022.severity = warning
dotnet_diagnostic.cs7023.severity = warning
dotnet_diagnostic.cs7080.severity = warning
dotnet_diagnostic.cs7081.severity = warning
dotnet_diagnostic.cs7082.severity = warning
dotnet_diagnostic.cs7095.severity = warning
dotnet_diagnostic.cs8073.severity = warning
dotnet_diagnostic.cs8094.severity = warning
dotnet_diagnostic.cs8123.severity = warning
dotnet_diagnostic.cs8305.severity = warning
dotnet_diagnostic.cs8321.severity = warning
dotnet_diagnostic.cs8383.severity = warning
dotnet_diagnostic.cs8424.severity = warning
dotnet_diagnostic.cs8425.severity = warning
dotnet_diagnostic.cs8500.severity = warning
dotnet_diagnostic.cs8509.severity = warning
dotnet_diagnostic.cs8519.severity = warning
dotnet_diagnostic.cs8520.severity = warning
dotnet_diagnostic.cs8524.severity = warning
dotnet_diagnostic.cs8597.severity = warning
dotnet_diagnostic.cs8600.severity = warning
dotnet_diagnostic.cs8601.severity = warning
dotnet_diagnostic.cs8602.severity = warning
dotnet_diagnostic.cs8603.severity = warning
dotnet_diagnostic.cs8604.severity = warning
dotnet_diagnostic.cs8605.severity = warning
dotnet_diagnostic.cs8607.severity = warning
dotnet_diagnostic.cs8608.severity = warning
dotnet_diagnostic.cs8609.severity = warning
dotnet_diagnostic.cs8610.severity = warning
dotnet_diagnostic.cs8611.severity = warning
dotnet_diagnostic.cs8612.severity = warning
dotnet_diagnostic.cs8613.severity = warning
dotnet_diagnostic.cs8614.severity = warning
dotnet_diagnostic.cs8615.severity = warning
dotnet_diagnostic.cs8616.severity = warning
dotnet_diagnostic.cs8617.severity = warning
dotnet_diagnostic.cs8618.severity = warning
dotnet_diagnostic.cs8619.severity = warning
dotnet_diagnostic.cs8620.severity = warning
dotnet_diagnostic.cs8621.severity = warning
dotnet_diagnostic.cs8622.severity = warning
dotnet_diagnostic.cs8624.severity = warning
dotnet_diagnostic.cs8625.severity = warning
dotnet_diagnostic.cs8629.severity = warning
dotnet_diagnostic.cs8631.severity = warning
dotnet_diagnostic.cs8632.severity = warning
dotnet_diagnostic.cs8633.severity = warning
dotnet_diagnostic.cs8634.severity = warning
dotnet_diagnostic.cs8643.severity = warning
dotnet_diagnostic.cs8644.severity = warning
dotnet_diagnostic.cs8645.severity = warning
dotnet_diagnostic.cs8655.severity = warning
dotnet_diagnostic.cs8656.severity = warning
dotnet_diagnostic.cs8667.severity = warning
dotnet_diagnostic.cs8669.severity = warning
dotnet_diagnostic.cs8670.severity = warning
dotnet_diagnostic.cs8714.severity = warning
dotnet_diagnostic.cs8762.severity = warning
dotnet_diagnostic.cs8763.severity = warning
dotnet_diagnostic.cs8764.severity = warning
dotnet_diagnostic.cs8765.severity = warning
dotnet_diagnostic.cs8766.severity = warning
dotnet_diagnostic.cs8767.severity = warning
dotnet_diagnostic.cs8768.severity = warning
dotnet_diagnostic.cs8769.severity = warning
dotnet_diagnostic.cs8770.severity = warning
dotnet_diagnostic.cs8774.severity = warning
dotnet_diagnostic.cs8775.severity = warning
dotnet_diagnostic.cs8776.severity = warning
dotnet_diagnostic.cs8777.severity = warning
dotnet_diagnostic.cs8794.severity = warning
dotnet_diagnostic.cs8819.severity = warning
dotnet_diagnostic.cs8824.severity = warning
dotnet_diagnostic.cs8825.severity = warning
dotnet_diagnostic.cs8846.severity = warning
dotnet_diagnostic.cs8847.severity = warning
dotnet_diagnostic.cs8851.severity = warning
dotnet_diagnostic.cs8860.severity = warning
dotnet_diagnostic.cs8892.severity = warning
dotnet_diagnostic.cs8907.severity = warning
dotnet_diagnostic.cs8947.severity = warning
dotnet_diagnostic.cs8960.severity = warning
dotnet_diagnostic.cs8961.severity = warning
dotnet_diagnostic.cs8962.severity = warning
dotnet_diagnostic.cs8963.severity = warning
dotnet_diagnostic.cs8965.severity = warning
dotnet_diagnostic.cs8966.severity = warning
dotnet_diagnostic.cs8971.severity = warning
dotnet_diagnostic.cs8974.severity = warning
dotnet_diagnostic.cs8981.severity = warning
dotnet_diagnostic.cs9042.severity = warning
dotnet_diagnostic.cs9073.severity = warning
dotnet_diagnostic.cs9074.severity = warning
dotnet_diagnostic.cs9080.severity = warning
dotnet_diagnostic.cs9081.severity = warning
dotnet_diagnostic.cs9082.severity = warning
dotnet_diagnostic.cs9083.severity = warning
dotnet_diagnostic.cs9084.severity = warning
dotnet_diagnostic.cs9085.severity = warning
dotnet_diagnostic.cs9086.severity = warning
dotnet_diagnostic.cs9087.severity = warning
dotnet_diagnostic.cs9088.severity = warning
dotnet_diagnostic.cs9089.severity = warning
dotnet_diagnostic.cs9090.severity = warning
dotnet_diagnostic.cs9091.severity = warning
dotnet_diagnostic.cs9092.severity = warning
dotnet_diagnostic.cs9093.severity = warning
dotnet_diagnostic.cs9094.severity = warning
dotnet_diagnostic.cs9095.severity = warning
dotnet_diagnostic.cs9097.severity = warning
dotnet_diagnostic.cs9099.severity = warning
dotnet_diagnostic.cs9100.severity = warning
dotnet_diagnostic.cs9107.severity = warning
dotnet_diagnostic.cs9113.severity = warning
dotnet_diagnostic.cs9123.severity = warning
dotnet_diagnostic.cs9124.severity = warning
dotnet_diagnostic.cs9154.severity = warning
dotnet_diagnostic.cs9158.severity = warning
dotnet_diagnostic.cs9159.severity = warning
dotnet_diagnostic.cs9179.severity = warning
dotnet_diagnostic.cs9181.severity = warning
dotnet_diagnostic.cs9182.severity = warning
dotnet_diagnostic.cs9183.severity = warning
dotnet_diagnostic.cs9184.severity = warning
dotnet_diagnostic.cs9191.severity = warning
dotnet_diagnostic.cs9192.severity = warning
dotnet_diagnostic.cs9193.severity = warning
dotnet_diagnostic.cs9195.severity = warning
dotnet_diagnostic.cs9196.severity = warning
dotnet_diagnostic.cs9197.severity = warning
dotnet_diagnostic.cs9198.severity = warning
dotnet_diagnostic.cs9200.severity = warning
dotnet_diagnostic.cs9204.severity = warning
dotnet_diagnostic.cs9208.severity = warning
dotnet_diagnostic.cs9209.severity = warning
dotnet_diagnostic.cs9216.severity = warning
dotnet_diagnostic.cs9256.severity = warning
dotnet_diagnostic.cs9258.severity = warning
dotnet_diagnostic.cs9264.severity = warning
dotnet_diagnostic.cs9266.severity = warning
dotnet_diagnostic.fs0020.severity = warning
dotnet_diagnostic.fs0025.severity = warning
dotnet_diagnostic.fs0026.severity = warning
dotnet_diagnostic.fs0066.severity = warning
dotnet_diagnostic.fs0067.severity = warning
dotnet_diagnostic.fs0104.severity = warning
dotnet_diagnostic.fs0193.severity = warning
dotnet_diagnostic.fs0524.severity = warning
dotnet_diagnostic.fs1182.severity = warning
dotnet_diagnostic.fs1183.severity = warning
dotnet_diagnostic.fs3218.severity = warning
dotnet_diagnostic.fs3390.severity = warning
dotnet_diagnostic.fs3520.severity = warning
dotnet_diagnostic.syslib1014.severity = warning
dotnet_diagnostic.wme006.severity = warning
dotnet_naming_rule.unity_serialized_field_rule.import_to_resharper = True
dotnet_naming_rule.unity_serialized_field_rule.resharper_description = Unity serialized field
dotnet_naming_rule.unity_serialized_field_rule.resharper_guid = 5f0fdb63-c892-4d2c-9324-15c80b22a7ef
dotnet_naming_rule.unity_serialized_field_rule.severity = warning
dotnet_naming_rule.unity_serialized_field_rule.style = lower_camel_case_style_1
dotnet_naming_rule.unity_serialized_field_rule.symbols = unity_serialized_field_symbols
dotnet_naming_style.i_upper_camel_case_style.capitalization = pascal_case
dotnet_naming_style.i_upper_camel_case_style.required_prefix = I
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.lower_camel_case_style.required_prefix = _
dotnet_naming_style.lower_camel_case_style_1.capitalization = camel_case
dotnet_naming_style.t_upper_camel_case_style.capitalization = pascal_case
dotnet_naming_style.t_upper_camel_case_style.required_prefix = T
dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_accessibilities = *
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_kinds =
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_required_modifiers = instance
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

# ReSharper properties
resharper_autodetect_indent_settings = true
resharper_blank_lines_after_block_statements = 0
resharper_blank_lines_around_local_method = 0
resharper_blank_lines_around_single_line_type = 0
resharper_braces_for_for = required_for_multiline
resharper_braces_for_foreach = required_for_multiline
resharper_braces_for_while = required_for_multiline
resharper_csharp_blank_lines_around_field = 0
resharper_csharp_blank_lines_around_invocable = 0
resharper_csharp_blank_lines_inside_region = 0
resharper_csharp_insert_final_newline = true
resharper_csharp_other_braces = end_of_line
resharper_csharp_remove_blank_lines_near_braces_in_code = false
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_formatter_off_tag = @formatter:off
resharper_formatter_on_tag = @formatter:on
resharper_formatter_tags_enabled = true
resharper_instance_members_qualify_declared_in =
resharper_keep_existing_declaration_block_arrangement = true
resharper_keep_existing_embedded_block_arrangement = true
resharper_parentheses_redundancy_style = remove
resharper_place_expr_property_on_single_line = true
resharper_place_field_attribute_on_same_line = false
resharper_place_simple_initializer_on_single_line = false
resharper_place_simple_list_pattern_on_single_line = false
resharper_show_autodetect_configure_formatting_tip = false
resharper_use_indent_from_vs = false
resharper_wrap_before_primary_constructor_declaration_rpar = true
resharper_wrap_list_pattern = chop_always
resharper_wrap_object_and_collection_initializer_style = chop_always
resharper_wrap_primary_constructor_parameters_style = wrap_if_long

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_this_qualifier_highlighting = hint
resharper_arrange_type_member_modifiers_highlighting = hint
resharper_arrange_type_modifiers_highlighting = hint
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_mvc_action_not_resolved_highlighting = warning
resharper_mvc_area_not_resolved_highlighting = warning
resharper_mvc_controller_not_resolved_highlighting = warning
resharper_mvc_masterpage_not_resolved_highlighting = warning
resharper_mvc_partial_view_not_resolved_highlighting = warning
resharper_mvc_template_not_resolved_highlighting = warning
resharper_mvc_view_component_not_resolved_highlighting = warning
resharper_mvc_view_component_view_not_resolved_highlighting = warning
resharper_mvc_view_not_resolved_highlighting = warning
resharper_razor_assembly_not_resolved_highlighting = warning
resharper_redundant_base_qualifier_highlighting = warning
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_suggest_var_or_type_elsewhere_highlighting = hint
resharper_suggest_var_or_type_simple_types_highlighting = hint
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning

[*.{appxmanifest,asax,ascx,aspx,axaml,blockshader,c,c++,c++m,cc,ccm,cginc,compute,cp,cpp,cppm,cs,cshtml,cu,cuh,cxx,cxxm,dtd,fs,fsi,fsscript,fsx,fx,fxh,h,h++,hh,hlsl,hlsli,hlslinc,hp,hpp,hxx,icc,inc,inl,ino,ipp,ixx,master,ml,mli,mpp,mq4,mq5,mqh,mxx,nuspec,paml,razor,resw,resx,shader,shaderFoundry,skin,tcc,tpp,urtshader,usf,ush,uxml,vb,xaml,xamlx,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4
