# Binaries
**/bin
**/bin-int
**/obj

.vscode/
.idea/
.VSCodeCounter
.output/

run/.manila
run/.env
run/bin
run/bin-int

log.txt
log.json
logs.json
logs.txt

Shiron.Tests/TestResults

profiles
BenchmarkDotNet.Artifacts
